.hero-body {
  @include mobile {
    background: url("https://res.cloudinary.com/elliotjreed/image/upload/f_auto,q_auto/v1592683199/charismahair/header-mobile.jpg") no-repeat;
    background-size: cover;
  }

  @include tablet {
    background: url("https://res.cloudinary.com/elliotjreed/image/upload/f_auto,q_auto/v1592683200/charismahair/header.jpg") no-repeat;
    background-size: cover;
  }
}

.hero-body .container {
  width: 100%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
}
